.modal {
    transition: all .3s ease-in-out;
}
.show-modal {
    @apply -translate-y-1/2 opacity-100 z-20;
    animation-name: animateModal;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes animateModal {
    from {
        @apply -translate-y-full;
    }
    to {
        @apply -translate-y-1/2;
    }
}